:root {
  --BG1: #0A1E14;            /* Fondo General */
  --BG2: #0F2A1C;            /*Fondo Banner*/
  --DT1: #2A563E;            /* Contorno Caja de Texto */
  --MSG1: #1B3B2C;            /* Globo Texto User */ 
  --MSG2: #0F2A1C;            /* Globo Texto Bot */
  --TX: #fff;                /*Color Texto*/
  --BTN: #2A563E ;          /* Color Botón */

}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shield-icon {
  font-size: 1.2rem;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.settings {
  font-size: 1.1rem;
  
  cursor: pointer;
}

/* Estilos del cuerpo */
body {
  margin: 0;
  background-color: var(--BG1); 
  font-family: Arial, sans-serif;
  color: var(--TX);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Banner */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;         /* Ocupa todo el ancho */
  height: 50px;
  background-color: var(--BG2);
  border-radius: 0;    /* Quita bordes redondeados para que sea rectangular */
  z-index: 1000;
  padding: 10px 20px; 
  border-bottom: 1px solid var(--DT1); /* Línea separadora */

}
.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;            /* Centra verticalmente */
  height: 100%;
}

.banner-container-end {
  display: flex;
  flex-direction: row;
  align-items: center;            /* Centra verticalmente */
  margin-left: auto;              /* Empuja el contenido a la derecha */
  margin-right: 10%;
  width: 10%;
}
/* Contenedor principal de entrada */
.input-container {
  display: flex ;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  background-color: var(--BG1);
  gap: 8px;
}

/* Contenedor de la caja de texto */
.input-wrapper {
  width: 95%;       /* Aumenta el ancho del contenedor */
  max-width: 1500px; /* Mayor límite máximo */
  display: flex;
  align-items: center;
  background-color: var(--MSG2);
  border: 2px solid var(--DT1);
  border-radius: 12px;
  padding: 5px;
}
/* Botón de enviar */
.btn {
  background-color: var(--BTN);
  color: var(--TX);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.2em;
  
}
.btn:hover {
  background-color: var(--DT1);
  color: var(--TX);
}
.btn-config {
  background-color: transparent;
  color: var(--TX);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 15px; /* Espacio entre el icono y el botón */
}

/* Campo de texto para enviar mensajes */ 
input[type="text"] {
  flex: 1;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  color: var(--TX);
  font-size: 1em;
  outline: none;
  box-shadow: none;
}



