/* Banner superior */
.top-bar {
  background-color: #1f2a1e;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2a2b28;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}

.shield-icon {
  font-size: 1.2rem;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.settings {
  font-size: 1.1rem;
  cursor: pointer;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #3a3b38;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #444;
}

