:root {
  --BG1: #0a1e14;    /* Fondo General */
  --BG2: #0f2a1c;    /* Fondo Banner */
  --DT1: #2a563e;    /* Contorno Caja de Texto */
  --MSG1: #1b3b2c;   /* Globo Texto User */
  --MSG2: #0f2a1c;   /* Globo Texto Bot */
  --TX: #fff;        /* Color Texto */
  --BTN: #2a563e;    /* Color Botón */
}
/* Estructura Principal */
html{
  background-color: var(--BG1);
}

.body{
  margin: 0;
  background-color: var(--BG1);
  font-family: Arial, sans-serif;
  color: var(--TX);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* Banner Superior */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--BG2);
  border-radius: 0;
  z-index: 1000;
  padding: 10px 20px;
  border-bottom: 1px solid var(--DT1);
}
.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color: var(--TX);
}
.banner-container-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 10%;
  width: 10%;
}
/* Secciones Flex */
.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Estilos de Iconos */
.shield-icon, i {
  font-size: 1.5em;
}
.settings,
.btn-config {
  font-size: 1.1em;
  cursor: pointer;
  background-color: transparent;
  color: var(--TX);
  border: none;
}
.btn-config {
  margin: 5px 5px;
  display: flex;
}
/* Área de Chat */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  overflow-y: auto;
}
#chat-wrapper,
.chat-wrapper {
  width: 95%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-bottom: 80px;
}
/* Mensajes de Chat */
.chat-msg,
.chat-message {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que el texto se centre */
  max-width: 95%;
  word-wrap: break-word;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 12px;
  color: var(--TX);
}
.user-msg {
  background-color: var(--MSG1);
  margin-left: auto;
  flex-direction: row-reverse;
  justify-content: flex-end; /* Centra el texto en el mensaje del usuario */
  text-align: center; /* Centra el texto dentro del mensaje */
}
.bot-msg {
  background-color: var(--MSG2);
  margin-right: auto;
  justify-content: flex-start; /* Centra el texto en el mensaje del bot */
  text-align: left; /* Centra el texto dentro del mensaje */
}
.message-content {
  display: flex;
  align-items: left;
  margin-top: 1em;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Área de Entrada */
.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 20px;
  background-color: var(--BG1);
  gap: 8px;
  border-top: 1px solid var(--DT1);
}
.input-wrapper {
  width: 95%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  background-color: var(--MSG2);
  border: 2px solid var(--DT1);
  border-radius: 12px;
  padding: 5px;
}
/* Elementos de Formulario */
input[type="text"] {
  flex: 1;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px 10px;
  width: 100%;
  color: var(--TX);
  font-size: 1em;
  outline: none;
  box-shadow: none;
  text-align: left;
  line-height: 1,5;
}
/* Botones */
.btn {
  background-color: var(--BTN);
  color: var(--TX);
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  font-size: 1.2em;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--DT1);
}